<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Vue Form Submission</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>

<div id="app">
  <form @submit.prevent="submitForm">
    <label for="username">username:</label>
    <input type="text" id="username" v-model="formData.username">

    <label for="password">password:</label>
    <input type="password" id="password" v-model="formData.password">

    <button type="submit">Submit</button>
  </form>
</div>

<script>
  new Vue({
      el: '#app',
      data: {
          formData: {
              username: '',
              password: ''
          }
      },
      methods: {
          submitForm() {

                    const jsonData = JSON.stringify(this.formData);

                    // axios를 사용하여 서버로 데이터 전송
                    axios.post('http://43.200.95.124/login', jsonData, {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => {
                        console.log('Response:', response.data);
                    })
                    .catch(error => {
                        console.error('There was an error!', error);
                    });
          }
      }
  });
</script>

</body>
</html>
